language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - npm run build

before_install:
  - cd exam

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $repo_token
  local_dir: exam/build
  on:
    branch:
      - master
      - exam
