.dialog_header {
  display: flex;
  font-size: 5vmin;
  width: 100%;
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
}

.header_text {
  flex-grow: 2;
}

.chat_list {
  margin-top: 7vmin;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  color: rgb(255, 255, 255);
}

.add_button {
  cursor: pointer;
  position: fixed;
  top: 85vh;
  left: 85vw;
  padding: 1vmin;
  border-radius: 0.1em;
  outline: none;
  background-color: rgb(50, 50, 50);
  border-color: rgb(70, 70, 70);
  font-size: 3vh;
  color: rgb(255, 255, 255);
}

.avatar_img {
  color: rgb(255, 255, 255);
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.2em;
  width: 8vmin;
}

.add_input {
  position: fixed;
  top: 70vh;
  left: 10vw;
  width: 80vw;
  height: 6vmin;
  padding-left: 2vw;
  font-size: 3vmin;
  background-color: rgb(10, 10, 10);
  border-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
  outline: none;
}

.dialog_container {
  cursor: pointer;
  border-bottom: 0.5vh solid rgb(50, 50, 50);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 5vmin 5vmin;
  font-size: 3vmin;
  grid-template-areas:
    'avatar name date'
    'avatar last_message check';
  outline: none;
}

.dialog_avatar {
  grid-area: avatar;
}

.dialog_name {
  grid-area: name;
}

.dialog_message {
  grid-area: last_message;
  overflow: hidden;
  max-height: 5vmin;
}

.dialog_date {
  grid-area: date;
  text-align: center;
}

.dialog_check {
  grid-area: check;
  text-align: center;
}

.header_find {
  cursor: pointer;
}

.header_menu {
  cursor: pointer;
}

.header_menu {
  color: rgb(255, 255, 255);
  padding-left: 1%;
  font-size: 3vmin;
  position: fixed;
  top: 7vmin;
  width: 30%;
  background-color: rgb(70, 70, 70);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
