.messages_list {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  align-items: flex-end;
  overflow-y: auto;
  margin-top: 7vmin;
  padding-bottom: 5vmin;
  font-size: 3vmin;
}

.chat_header {
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
  font-size: 5vmin;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
}

.chat_name {
  padding-left: 1em;
}

.chat_exit_button {
  padding-left: 0.5em;
  cursor: pointer;
  outline: none;
}

.message_container {
  background-color: rgb(60, 60, 60);
  border-radius: 0.5rem;
  width: auto;
  max-width: 50vw;
  overflow-wrap: break-word;
  margin: 1vmin;
  padding: 1vmin;
}

.message_input {
  font-size: 4vmin;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-color: rgb(60, 60, 60);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
